<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="6" name="Suite" verbose="5">
 <test thread-count="6" name="Test">
    <classes>
      <class name="testcases.NewClient"/>
      <class name="testcases.NewLoan"/>
      <class name="testcases.CheckValidMobileNumber"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
